page-home {

	.botao{
		margin-left: auto;
    	margin-right: auto;
    	display: block;
    	padding-top: 10px;

	}
	.white{
		color: #fff;
	}
}
.scroll-content{
	background: url('../img/background.jpg');
	background-repeat: no-repeat;
	background-position: center;
	}

.tabs-ios .tab-button[aria-selected=true] .tab-button-icon{
	color: #F4C44E !important;
}
.tabs-ios .tab-button:hover:not(.disable-hover), .tabs-ios .tab-button[aria-selected=true]{
	color: #F4C44E !important;
}

.tabs-md .tab-button[aria-selected=true] .tab-button-icon{
	color: #F4C44E !important;
}
.tabs-md .tab-button:hover:not(.disable-hover), .tabs-md .tab-button[aria-selected=true]{
	color: #F4C44E !important;
}

.tabs-wp .tab-button[aria-selected=true] .tab-button-icon{
	color: #F4C44E !important;
	border-bottom-color: #F4C44E !important;
}
.tabs-wp .tab-button:hover:not(.disable-hover), .tabs-wp .tab-button[aria-selected=true]{
	color: #F4C44E !important;
}

